// RESET
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 65%;
    margin: auto;
}

.container-s {
    width: 53%;
    margin: auto;
}

img {
    width: 100%;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.active {
    color: #0282f9;
    border-bottom: 3px solid #0282f9;
}